.userprofile
{
  margin-top:20px;
  display: block;
  border: 1px solid gray;
  background-color: white;
  width:80%;
  margin:0 auto;
}
.avatar
{
  color: blue;
  margin:0 0 10px 0; 
  height:150px;
}
.userdata
{
  padding: 15px;
  text-align: center;
  background-color:whitesmoke;
}
.errormsg
{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  background-color: rgb(132, 138, 143);
}

