.content
{
  border:1px solid red;
  margin-top:10px;
  background-color: white;
  width:80%;
  margin:0 auto;
}
/* .file-li
{
  border :1px solid gray;
  margin-top:20px;
  list-style-type: none;
  padding: 30px;
} */
